body {
    background-color: grey;
}

#startpage {
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 5px;
    text-align: center;
    display: block;
    width: 300px;
   position: relative;
   left: 750px;
   top: 300px;

    
    
}

#cyberpet {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-weight: bold;
}

#animalOption1 {
    text-transform: capitalize;
    cursor: default;
}

#animalOption2 {
    text-transform: capitalize;
    cursor: default;
}

#catandog {
    text-align: left;
}

#makepet {
    text-align: left;
}

#Name {
    text-align: left;
}